<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.eyebrowssoftware.example.db"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="11" android:minSdkVersion="4"></uses-sdk>
	<application 
		android:icon="@drawable/icon" 
		android:label="@string/app_name" 
		android:name=".DBExampleApplication">
        <activity android:name=".activities.ClientEditor" />
        <activity android:name=".activities.ClientList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ClientNoteEditor" />
        <activity android:name=".activities.ClientNotes" />
        <activity android:name=".activities.ClientVisitViewer" />
        <activity android:name=".activities.ClientVisits" />
        <activity android:name=".activities.NoteEditor" />
        <activity android:name=".activities.NoteList" />
        <activity android:name=".activities.NoteTypeEditor" />
        <activity android:name=".activities.NoteTypeList" />
        <activity android:name=".activities.TemperatureTypeEditor" />
        <activity android:name=".activities.TemperatureTypeList" />
        <activity android:name=".activities.TemperatureEditor" />
        <activity android:name=".activities.ClientVisitTemperatureList" />
        <activity android:name=".activities.ClientVisitLengthList" />
        <activity android:name=".activities.ClientVisitBPList" />
        <activity android:name=".activities.ClientVisitPulseList" />
        <activity android:name=".activities.ClientVisitWeightList" />
        <activity android:name=".activities.LengthEditor" />
        <activity android:name=".activities.BPEditor" />
        <activity android:name=".activities.PulseEditor" />
        <activity android:name=".activities.WeightEditor" />
		<activity android:name=".activities.VisitList" />
		<service android:name=".PingService"
	    	android:label="@string/service_label" 
	    	android:icon="@drawable/icon"
	    android:description="@string/ping_service_description"/>
	    <provider android:name=".PCProvider"
	    	android:label="@string/provider_label"
	    	android:authorities="com.eyebrowssoftware.example.db.provider"
	    android:icon="@drawable/icon"/>

    </application>
</manifest>
